{% extends "base.twig" %}

{% block content %}
	<section id="news" class="container">
		<h2 class="search-header">{{function('pll_e','found_results')}}: {{posts|length}}</h2>
		{% if posts %}
			{% for post in posts %}
				{% include ['tease-search-'~post.post_type~'.twig', 'tease-search.twig'] %}
			{% endfor %}
		{% else %}
			{% include "no-results.twig" %}
		{% endif %}
	</section>
{% endblock %}